
@{
    ViewData["Title"] = "searchResult";
}

<br />
<h1>The most relevent category for '@ViewBag.productName' is: @ViewBag.category</h1>

<br />
<hr />
<br />

<div class="row" align="center">
    <div >
        <a class="thumbnail" href="/Catalog/ByCategory?category=@ViewBag.category">
            <h2>See more items of: @ViewBag.category</h2>
            <img src="@string.Format("/images/{0}.{1}", ViewBag.category, "jpg")" alt="CategoryImage" />
        </a>
    </div>
</div>

<br />
<br />

<div>
    <a class="btn-link" href='javascript:history.go(-1)'>Previous page</a>
    <br />
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
</div>

