@model SportWorld.Models.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var param = new Dictionary<string, string>
    {
                { "id", Model.ID.ToString() },
       };
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title">Deleting @Html.DisplayFor(comment => comment.Text)</h1>
    </div>
    <div class="panel-body">
        Are you sure you want to delete <strong>@Html.DisplayFor(comment => comment.Text)</strong>?
        <form asp-action="Delete" asp-all-route-data="param">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Details" asp-controller="Comment">Back to List</a>
        </form>
    </div>
</div>