@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display:grid;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.headline {
    color: azure;
    background-color: #63b19dd4;
    font-family: cursive;
    height: 415px;
}

.navBar {
    background-color: #2f5468;
    border-color: #1e465f70;
}

.section {
    border-radius: 50px;
    justify-content: center;
    display: grid;
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.video {
    width: 100%;
    transition: width 2s;
}

video:hover {
    width: 107%;
}

.carouselAndVideo{
    display:grid;
}

.rowImage {
    content: "";
    clear: both;
    display: table;
}

.columnImage {
    float: left;
    width: 25%;
    padding: 5px;
}

.fontStyle {
    font-family: cursive;
    font-weight: bolder;
    color: #31386d;
}
