@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron headline">
    <aside>
        <h1>SPORTWORLD</h1>
        <p>In SPORTWORLD you can find all the sport thing you need</p>
    </aside>
</div>

<div style="margin: 25px;" class="center-block text-center">
    @Html.Partial("Category")
</div>

<section class="center-block text-center" style="margin: 50px;">
    <video controls autoplay width="500" class="video">
        <source src="~/videos/video.mp4" type=video/mp4 />
    </video>
</section>

<div style="margin: 35px">
    @Html.Partial("ProductsCarousel")
</div>

<br />
<hr />
<br />

<section>
    @Html.Partial("ProductsSearch")
</section>


