@model Hydra.Models.Store

<h4>Edit your store</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lontitude" class="control-label"></label>
                <input asp-for="Lontitude" class="form-control" />
                <span asp-validation-for="Lontitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHour" class="control-label"></label>
                <input asp-for="OpeningHour" class="form-control" />
                <span asp-validation-for="OpeningHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHour" class="control-label"></label>
                <input asp-for="ClosingHour" class="form-control" />
                <span asp-validation-for="ClosingHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="About" asp-action="Index">Back to List</a>
</div>

